<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @inquiry.description %>
</p>

<p>
  <strong>Customer ID:</strong>
  <%= @inquiry.customer_id %>
</p>

<p>
  <strong>Admin ID:</strong>
  <%= @inquiry.admin_id %>
</p>

#Comments sections
<h2>FollowUps</h2>
<%= render @inquiry.followups %>

<h2>Add FollowUp:</h2>
<%= render 'followups/form' %>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> 
<%= link_to 'Back', inquiries_path %>